<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\QUINONES\Desktop\Ingeniería de Datos\Proyecto\ULLIKA\store\ULLIKA.jar</jar>
  <outfile>C:\Users\QUINONES\Desktop\Ingeniería de Datos\Proyecto\DBA Application\ULLIKA.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\QUINONES\Desktop\Ingeniería de Datos\Proyecto\DBA Application\logo.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>12</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>